$estilos: (
  color: #f893df,
  centro: center
);

p  {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: 1rem;
  color: white;
}
$estilos: (
  rosa:pink,

);

@mixin fondo($color){
  @if map-has-key($estilos, $color){
    background-color: map-get($estilos, $color);
  } 
}

.uno{
  @include fondo(rosa);
  color: black;
}
.dos{
  @include fondo(rosa);
  color: black;
}